<%#
# File Created by Joseph Freivald
# Copyright (c) 2015
# All Rights Reserved. Use pursuant to Joseph Freivald's instructions.
%>

<h1>Reset Password</h1>

<%= form_for(@profile) do |f| %>
  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Update Password", :class => "submit_record btn btn-primary" %>
  </div>
<% end %>