<%= form_for(@role_definition) do |f| %>
  <% if @role_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role_definition.errors.count, "error") %> prohibited this role_definition from being saved:</h2>

      <ul>
      <% @role_definition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :profile %><br />
    <%= f.collection_select :profile_id, Profile.all, :id, :full_name, {}, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :role %><br />
    <%= f.collection_select :role_id, Role.all, :id, :role, {}, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :patient_resource %><br />
    <%= f.collection_select :patient_resource_id, Resource.joins(:resource_type).where(:resource_types => { :resource_type => "Patient" }), :id, :resource_label, {}, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "submit_record btn btn-primary" %>
  </div>
<% end %>
