<h1>Listing role_definitions</h1>

<table class="display">
    <thead>
        <tr>
            <th>Role</th>
            <th>Role Profile</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% @role_definitions.each do |role_definition| %>
          <tr>
              <td><%= role_definition.role.role %></td>
              <td><%= role_definition.profile.full_name %></td>
              <td><%= link_to 'Edit', edit_role_definition_path(role_definition) %>
                  <%= link_to 'Destroy', role_definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Role definition', new_role_definition_path %>
