<p id="notice"><%= notice %></p>

<p>
  <b>Patient Profile:</b>
  <%= @role_definition.patient_profile.full_name %>
</p>

<p>
  <b>Role:</b>
  <%= @role_definition.role.role %>
</p>

<p>
  <b>Role Profile:</b>
  <%= @role_definition.profile.full_name %>
</p>

<%= link_to 'Edit', edit_role_definition_path(@role_definition) %> |
<%= link_to 'Back', role_definitions_path %>
