<%= form_for(@fhir_base_url) do |f| %>
  <% if @fhir_base_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fhir_base_url.errors.count, "error") %> prohibited this fhir_base_url from being saved:</h2>

      <ul>
      <% @fhir_base_url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fhir_base_url %><br />
    <%= f.text_field :fhir_base_url, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "submit_record btn btn-primary" %>
  </div>
<% end %>
