<%= form_for(@update_action) do |f| %>
  <% if @update_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update_action.errors.count, "error") %> prohibited this update_action from being saved:</h2>

      <ul>
      <% @update_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :update_action %><br />
    <%= f.text_field :update_action, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "submit_record btn btn-primary" %>
  </div>
<% end %>
