<h1>Listing update_actions</h1>

<table class="display">
    <thead>
        <tr>
            <th>Update action</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% @update_actions.each do |update_action| %>
          <tr>
              <td><%= update_action.update_action %></td>
              <td><%= link_to 'Show', update_action %>
                  <%= link_to 'Edit', edit_update_action_path(update_action) %>
                  <%= link_to 'Destroy', update_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Update action', new_update_action_path %>
