<h1>Listing resource_authorizations</h1>

<table class="display">
    <thead>
        <tr>
            <th>Role definition</th>
            <th>Resource</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% @resource_authorizations.each do |resource_authorization| %>
          <tr>
              <td><%= resource_authorization.role_definition.role_information %></td>
              <td><%= resource_authorization.resource.resource_identifier %></td>
              <td><%= link_to 'Show', resource_authorization %>
                  <%= link_to 'Edit', edit_resource_authorization_path(resource_authorization) %>
                  <%= link_to 'Destroy', resource_authorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Resource authorization', new_resource_authorization_path %>
