<h1>Listing resource_authorizations</h1>

<table>
  <tr>
    <th>Role definition</th>
    <th>Resource</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resource_authorizations.each do |resource_authorization| %>
  <tr>
    <td><%= resource_authorization.role_definition %></td>
    <td><%= resource_authorization.resource %></td>
    <td><%= link_to 'Show', resource_authorization %></td>
    <td><%= link_to 'Edit', edit_resource_authorization_path(resource_authorization) %></td>
    <td><%= link_to 'Destroy', resource_authorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource authorization', new_resource_authorization_path %>
