<%= form_for(@phone_number) do |f| %>
  <% if @phone_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone_number.errors.count, "error") %> prohibited this phone_number from being saved:</h2>

      <ul>
      <% @phone_number.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :country_code %><br />
    <%= f.text_field :country_code, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :area_code %><br />
    <%= f.text_field :area_code, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :number %><br />
    <%= f.text_field :number, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_provider %><br />
    <%= f.text_field :phone_provider, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_type %><br />
    <%= f.text_field :phone_type, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "submit_record btn btn-primary" %>
  </div>
<% end %>
