<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

        <ul>
            <% @resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :fhir_base_url %><br />
      <%= f.collection_select :fhir_base_url_id, FhirBaseUrl.all, :id, :fhir_base_url, {}, :class => "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :resource_type %><br />
      <%= f.collection_select :resource_type_id, ResourceType.all, :id, :resource_type, {}, :class => "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :fhir_resource_id %><br />
      <%= f.text_field :fhir_resource_id, :class => "form-control" %>
  </div>
  <div class="actions">
      <%= f.submit :class => "submit_record btn btn-primary" %>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">Resource Information <% if @resource.persisted? %><%= link_to "Import", import_resource_path(@resource, :fhir_reference => @resource.resource_type.resource_type + "/" + @resource.fhir_resource_id.to_s ), { :method => :post, :class => "btn btn-info" } %><% end %> </div>
      <div class="panel-body">
          <%= @resource.resource_info.nil? ? "" : @resource.resource_info.html_safe %>
      </div>
  </div>
  <% if @resource.persisted? && @resource.resource_type.resource_type == "Patient" %>
    <div class="panel-heading">Search for Patient Related Resources</div>
    <table class="display">
        <thead>
            <tr>
                <th>Resource Type</th>
                <th>Search</th>
            </tr>
        </thead>
        <tbody>
            <% @resource_types.each do |rt| %>
              <tr>
                  <td><%= rt.resource_type %></td>
                  <td><%= link_to "Search", search_resource_path(@resource, :resource_type_id => rt.id), { :method => :post } %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
  <% end %>
<% end %>
