<h1>Listing resources</h1>

<table class="display">
    <thead>
        <tr>
            <th>Resource Type</th>
            <th>Resource</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% @resources.each do |resource| %>
          <tr>
              <td><%= resource.resource_type.resource_type %></td>
              <td><%= resource.resource_label.html_safe %></td>
              <td><%= link_to 'Show', resource %>
                  <%= link_to 'Edit', edit_resource_path(resource) %>
                  <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
