<%= form_for(@resource_utilization) do |f| %>
  <% if @resource_utilization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_utilization.errors.count, "error") %> prohibited this resource_utilization from being saved:</h2>

      <ul>
      <% @resource_utilization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :activity %><br />
    <%= f.collection_select :activity_id, Activity.all, :id, :activity, {}, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :resource %><br />
    <%= f.collection_select :resource_id, Resource.all, :id, :resource, {}, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fhir_base_url %><br />
    <%= f.collection_select :fhir_base_url_id, FhirBaseUrl.all, :id, :fhir_base_url, {}, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "submit_record btn btn-primary" %>
  </div>
<% end %>
