<h1>Listing contact_numbers</h1>

<table class="display">
    <thead>
        <tr>
            <th>Preferred</th>
            <th>Contact method</th>
            <th>Phone number</th>
            <th>Profile</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% @contact_numbers.each do |contact_number| %>
          <tr>
              <td><%= contact_number.preferred %></td>
              <td><%= contact_number.contact_method %></td>
              <td><%= contact_number.phone_number %></td>
              <td><%= contact_number.profile %></td>
              <td><%= link_to 'Edit', edit_contact_number_path(contact_number) %>
                  <%= link_to 'Destroy', contact_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>
<br />

<%= link_to 'New Contact number', new_contact_number_path %>
