<h1>Listing activities</h1>

<table class="display">
    <thead>
        <tr>
            <th>Base time</th>
            <th>Repeat rule</th>
            <th>Severity level</th>
            <th>Role definition</th>
            <th>Activity type</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% @activities.each do |activity| %>
          <tr>
              <td><%= activity.base_time %></td>
              <td><%= activity.repeat_rule %></td>
              <td><%= activity.severity_level %></td>
              <td><%= activity.role_definition %></td>
              <td><%= activity.activity_type %></td>
              <td><%= link_to 'Show', activity %>
                  <%= link_to 'Edit', edit_activity_path(activity) %>
                  <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
